.github
coverage
lib
.releaserc
.editorconfig
.eslintrc.cjs
.prettierrc
CODE_OF_CONDUCT.md
CODE_OF_CONDUCT.md
jest.config.json
LICENSE
README.md
.nvmrc
test
.vscode
CHANGELOG.md
tsconfig.*
scrutinizer.yml
