/*
Theme Dame:  Tis B2B
Theme URI:   https://oblak.studio/portfolio/tis-b2b
Description: Child theme for WoodMart
Author:      Oblak Studio
Author URI:  https://oblak.studio
Template:    woodmart
Version:     2.0.0
Text Domain: tis
*/
